<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.appdemoapi"
        version   = "1.0.0">
    <name>API Request</name>
    <description>API Request</description>
    <icon src="chester.png" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
</widget>
